
  .logging{
    display: solid;
    margin-left: 777px;
    margin-right: 104px;
    color: whitesmoke;
    background: rgba(87, 84, 86,.8);;

    padding-top: 10px;
    padding-bottom: 530px;
    padding-left: 50px;
    padding-right: 50px;
  }

  h1{
    color: whitesmoke;
  }
  input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-table;
    border: darkblue;
    background: #f1f1f1;
    
  }
  button:hover {
    opacity: 0.8;
  }
  
  
  
  .cancelbtn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    margin: 8px 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 30%;
    opacity: .8;
    left: 203px;
    top: 369px
  }

  .registerbtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 10px 22px;
    border: none;
    cursor: pointer;
    width: 64%;
    opacity: .8;
    position: absolute;
    top: 472px;
  }

  .login{
    background-color: blue;
    color: white;
    padding: 16px 20px;
    margin: 8px 18px;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: .8;
  }