body{
  font-family: Calibri, sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
}
/*left column*/
.leftcolumn {
  float: left;
  width: 50%;
}

/*right column*/
.rightcolumn {
  float: left;
  width: 50%;
  background-color: white;
  padding-left: 20px;
}

/*rows*/
.row:after{
  content: "";
  display: table;
  clear: both;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
