.img{
    padding: 0px 10px;
    width: 50%;
    height: auto;
    left: 0px;
    top: 0px;
}

.boxed {
    margin-top: 50px;
    border: 1px solid black ;
    width: 1285px;
    height: 30px;
    text-align: center;
    padding-top:10px;
    margin-left: 10px;
    background-color:grey;
    display: inline-block;
  }

.description{

    border: 1px solid black ;
    width: 1285px;
    height: 250px;
    text-align: left;

    margin-left: 10px;
    background-color:whitesmoke;
    display: inline-block;

}

.calendar{
    margin-left: 750px;
    margin-top: -300px;
}

iframe{
    margin-left: 150px;
    width: 400px;
    height: 380px;
}

.map{
    margin-left: 750px;
    margin-top: -385px;
}

header a{
    color: white;
}
