h1{
    color: blue;
    
    align-self: center;
    text-align: center;
}

.img{
    padding: 0px 10px;
    width: 706px;
    height: 290px;
    margin-left: 160px;
    margin-right: 34px;
    left: 0px;
    top: 0px;
    pad

}

.boxed {
    border: 1px solid black ;
    width: 700px;
    height: 30px;
    text-align: center;
    padding-top:10px;
    margin-left: 170px;
    background-color:grey;
    display: inline-block;
  }

.description{

    border: 1px solid black ;
    width: 700px;
    height: 200px;
    text-align: left;

    margin-left: 170px;
    background-color:whitesmoke;
    display: inline-block;
    
}

.calendar{
    margin-left: 750px;
    margin-top: -300px;
}

iframe{
    margin-left: 150px;
    width: 400px;
    height: 350px; 
}

.map{
    margin-left: 750px;
    margin-top: -300px;
}

